.total-amount {
    border-top: solid 2px black;
    padding-top: 1rem;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.empty-cart-tagline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}