 .cart-home-container {
     min-height: calc(100vh - 72px);
     margin-bottom: 5rem;
     margin-top: 2rem;
     display: flex;
     align-items: center;
     flex-direction: column;
 }

 .cart-items {
     margin-bottom: 3rem;
 }

 .image-and-name {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-grow: 0.2;
 }

 .quantity-and-remove {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .cart-item-details {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 1rem;
 }

 .cart-item-container {
     width: 500px;
 }

 .total-amount {
     border-top: solid 2px black;
     width: 300px !important;
     display: flex !important;
     justify-content: center;
     align-items: center;
 }

 .empty-cart {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 3rem;
 }

 .empty-cart-tagline {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 3rem;
 }

 .product-cancel-button {
     display: none;
     color: red;
 }

 @media screen and (max-width: 492px) {
     .cart-items {
         margin-left: 10px;
         margin-right: 10px;
     }

     .cart-item-container {
         width: 300px;
     }

     .image-and-name {
         flex-grow: 0.2;
     }

     .product-cancel-button {
         display: block !important;
         color: green;
     }

     .cart-item-container .cart-item-remove-btn {
         display: none;
     }
 }