.filter-card {
    position: fixed;
    margin-left: 3rem;
    width: max-content;
    height: calc(100% - 255px);
    /* padding-bottom: 20px; */
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow-y: auto;
    z-index: 100;
}

.filter-content {
    padding: 2rem;
    max-height: calc(100% - 46px);
    overflow-y: auto;

}

@media screen and (max-width: 492px) {
    .filter-card {
        display: none;
    }

    .filter-content {
        height: 600px;
    }

    .filter-icon {
        display: grid;
        place-items: center;
    }

    .filter-card {
        position: fixed;
        margin-left: 0rem;
        width: max-content;
        height: calc(100% - 200px);
        /* padding-bottom: 20px; */
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        overflow-y: auto;
        z-index: 100;
    }

}
