.footer {
    background-color: rgb(18 182 122);
    color: white;
    height: 40px;
    display: center;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-logo {
    color: white;
}